body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.full-height {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
}

header {
    background-color: #cef;
    color: white;
    padding: 1rem;
    min-height: 10vh;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
}

section {
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 1rem;
    max-height: 90vh;
}

.Section {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
}