body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: unset;
    scroll-snap-type: y mandatory;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #cef;
    color: white;
    min-height: 10vh;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 1rem;
    margin-top: 1rem;
}

h1 {
    margin-top: 5vh;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: 100vh;
    scroll-snap-align: start;
    /*transform: translateY(10vh);*/
}

.content-container {
    width: 45vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a1-img {
    max-width: 40vw;
    max-height: 30vh;
    flex: 1;
}

.about1-image-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about1-desc-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.about1-paragraph-container {
    width: 20vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-bottom: 45vh;
    justify-content: flex-start;
}

.about1-paragraph-container p {
    align-self: flex-start;
}

.a2-img {
    max-width: 50vw;
    max-height: 50vh;
    flex: 1;
}

.about2-desc-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.about2-image-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:5vw;
}

.about2-paragraph-container {
    width: 15vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
}

.a3-img {
    max-width: 30vw;
    max-height: 30vh;
    flex: 1;
}

.about3-desc-container-left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
}

.about3-space {
    height: 25vh;
}

.about3-desc-container-right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: center;
}

.about3-image-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a4-img {
    max-width: 30vw;
    max-height: 30vh;
    flex: 1;
}
.about4-content {
    flex-direction: column;
    text-align: center;
}

.about4-image-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left:5vw;
}

.video-container {
    max-width: 40vw;
    align-items: flex-start;
    justify-content: flex-start;
}

.video-container video {
    width: 100%;
    display: block;
}

.info-block {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}

.info-image {
    max-width: 30vw;
    max-height: 20vh;
    flex: 1;
}

.info-text {
    flex: 2;
}

.event-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
}

.event-name {
    margin: 1rem;
}

.arrow {
    cursor: pointer;
}

.event-link {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.event-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.event-button:hover {
    background-color: #0056b3;
}

.header-container {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1000;
}




