.scrollbar {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(50, 50, 200, 0.1);
    border-radius: 5px;
    z-index: 1000;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    margin: 15px;
    cursor: pointer;
}