@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Tektur&display=swap');

.event-slider {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    color: white;
}

.event-name {
    margin: 1rem;
}

.arrow {
    cursor: pointer;
}

.event-link {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}