.event-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-size: 1.5rem;
    color: white;
}

.event-name {
    margin: 1rem;
}

.arrow {
    cursor: pointer;
}

.event-link {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.event-button:hover {
    background-color: #0056b3;
}