@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Montserrat:wght@500&family=Tektur&display=swap');

.info-block {
    font-family: 'Exo 2', sans-serif;
    display: flex;
    width: 100%;
    max-width: 90vw;
    max-height: 20vh;
    margin-bottom: 1rem;
    border: 1px solid orange;
    border-radius: 20px;
    background-color: #cbcbc1;
    color: black;
}

.info-image {
    height: 100%;
    max-width: 50vw;
    max-height: 20vh;
    flex: 1;
}

.info-image img{
    height: 30vh;
    max-width: 30vw;
    max-height: 20vh;
    flex: 1;
    border-radius: 20px;
}

.info-text {
    flex: 2;
}

.infoBl-title {
    color: black;
    font-size: 1.7rem;
    margin-top: 1vh;
}

.infoBl-content {
    margin: 0;
    font-size: 1.5rem;
    color: #041038;
}

.infoBl-content2 {
    margin: 0;
    font-size: 1.3rem;
    color: #041038;
}

@media only screen and (max-width: 768px) {

    .info-block {
        max-height: 15vh;
        margin-bottom: 0.2rem;
        width: 90vw;
    }

    .info-image {
        max-height: 15vh;
    }

    .info-image img{
        max-height: 15vh;
        max-width: 50vw;
    }

    .info-text {
        font-size: 0.8rem;
    }

    .infoBl-content {
        font-size: 1.1rem;
    }

    .infoBl-content2 {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 420px) {

    .info-block {
        max-height: 12vh;
        margin-bottom: 0.2rem;
        width: 90vw;
    }

    .infoBl-title {
        font-size: 0.9rem;
        margin-top: 1vh;
        margin-bottom: 0;
    }

    .info-image {
        max-height: 12vh;
    }

    .info-image img{
        max-height: 12vh;
        max-width: 50vw;
    }

    .info-text {
        font-size: 0.5rem;
    }

    .infoBl-content {
        font-size: 0.9rem;
    }

    .infoBl-content2 {
        font-size: 0.7rem;
    }
}