.main-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.content-container {
    width: 45vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.event-button {*/
/*    width: 15vw;*/
/*    height: 5vw;*/
/*    background-color: orange;*/
/*    color: black;*/
/*    border: 1px solid white;*/
/*    padding: 10px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    cursor: pointer;*/
/*    transition: 0.5s;*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    transform: skew(-30deg);*/
/*    transform-origin: right;*/
/*    margin-top:2rem;*/
/*    text-decoration: none;*/
/*    border-radius: 5px;*/
/*}*/

/*.event-button:hover {*/
/*    background-color: #e95800;*/
/*    color: white;*/
/*}*/

/*.event-slider a{*/
/*    text-decoration: none;*/
/*}*/

.event-slider a{
    text-decoration: none;
}

.event-image {
    margin-top: 3vh;
    width: 25vw;
    height: 5vw;
    transition: content 0.3s;
}

.event-image:hover {
    content: url('../../images/button2.png');
}

.event-image:active {
    content: url('../../images/button3.png');
}

.slider-container {
    display: flex;
    flex-direction: column;
}

.hackaton-img {
    height: 12vh;
    margin-bottom: 1vh;
}

@media only screen and (max-width: 768px) {

    .main-container {
        flex-direction: column;
        justify-content: center;
        height: 115vh;
    }

    .content-container {
        width: 75vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slider-container {
        flex-direction: column;
    }

    .content-container {
        flex-direction: column;
    }

    .event-image {
        width: 65vw;
        height: 7vh;
    }

    .hackaton-img {
        /*display: none;*/
        height: 7vh;
        margin: 1vh;
    }
}

@media only screen and (max-width: 420px) {

    .main-container {
        height: 110vh;
    }

    .slider-container {
        margin-top: 5vh;
    }

    .event-image {
        width: 65vw;
    }
}
