.o-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    margin-top: 10vh;
}

.organizers-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 100vw;
    align-items: flex-start;
    align-content: center;
}

.organizers-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    width: 40%;
    margin-left: 2vw;
}

.organizers-h1 {
    text-align: center;
    align-content: center;
    margin-top: 1rem;
    width: 100%;
}

.organizers-gallery {
    height: calc(20vh + 15vw);
    width: calc(20vh + 15vw);
    border: solid orange 1px;
    align-items: flex-start;
    align-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.circular-image {
    border-radius: 50%;
}

.organizers-description {
    text-align: center;
    align-content: center;
    margin-top: 1rem;
}

.organizers-gallery-right {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 15%;
    width: 40%;
    height: 75vh;
    overflow: hidden;
}

.footer {
    height: 15vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.2);
    color: white;
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;
}

@media only screen and (max-width: 768px) {
    .o-container {
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
        width: 100vw;
        height: 80vh;
        scroll-snap-align: start;
        margin-top: 10vh;
    }

    .organizers-gallery-right {
        display: none;
    }

    .organizers-content {
        width: 100vw;
        height: 75vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        justify-content: center;
        margin: 0;
    }

    .organizers-h1 {
        text-align: center;
        margin-top: 1rem;
        width: 100%;
    }

    .organizers-gallery {
        margin-left: 0;
        width: 325px;
        height: 325px;
        border-radius: 50%;
        border: solid orange 1px;
        box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);
        transition: 0.3s;
    }

    .organizers-description
    {
        width:75vw;
        text-align: center;
        align-content: center;
        margin-top: 1rem;
    }

    .footer{
        height: 10vh;
        width: 100vw;
        display: block;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
    }
}