.o-container {
    margin:  auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    width: 80vw;
    height: 80vh;
    scroll-snap-align: start;
    margin-top: 10vh;

}

.organizers-container {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    height: 75vh;
    width: 100vw;
    align-items: flex-start;
    align-content: center;
    justify-content: flex-start;
    /*justify-content: flex-start;*/
}

.organizers-h1 {
    margin-left: 5vw;
    text-align: center;
    align-content: center;
    margin-top: 1rem;
    width: 100%;
}

.organizers-content {
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    align-content: center;
    justify-content: flex-start;
    height: 75vh;
    width: 40%;

    align-self: flex-start;
}

.organizers-gallery {
    margin-left: 9vw;
    width: 75%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: center;
    overflow: hidden;
    border-radius: 50%;


}

.organizers-description {
    width: 100%;
    margin-left: 5vw;
    text-align: center;
    align-content: center;
    margin-top: 1rem;

}

.organizers-gallery-right {
    display: flex;
    align-items: center;
    align-content: center;
    margin-left: 15%;
    width: 40%;
    height: 75vh;
    overflow: hidden;
    /*justify-content: center;*/
}

.footer {
    /*margin-top: 15vh;*/
    height: 15vh;
    width: 100vw;
    background-color: #cef;
    display: block;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 0;


}
@media only screen and (max-width: 768px) {
    .o-container {
        margin:  auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
        width: 100vw;
        height: 80vh;
        scroll-snap-align: start;
        margin-top: 10vh;

    }

    .organizers-gallery {
        margin-left: 17vh;
        width: 150%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: center;
        overflow: hidden;
        border-radius: 50%;
        border: solid orange 1px;
        box-shadow: 0 0 100px 0 rgba(0, 0, 0, 1);
        transition: 0.3s;

    }
    .organizers-gallery-right {
        display: none;
    }
    .organizers-container {
        margin-top: 10vh;
        display: flex;
        flex-direction: row;
        height: 75vh;
        width: 100vw;
        align-items: flex-start;
        align-content: center;
        justify-content: flex-start;
        /*justify-content: flex-start;*/
    }

    .organizers-h1 {
        margin-left: 30vw;
        text-align: center;
        align-content: center;
        margin-top: 1rem;
        width: 100%;
    }
    .organizers-description
    {
        width:100%;
        margin-left: 25vh;
        text-align: center;
        align-content: center;
        margin-top: 1rem;


    }
    .footer{
        /*margin-top: 15vh;*/
        height: 10vh;
        width: 100vw;
        background-color: #cef;
        display: block;
        text-align: center;
        align-content: center;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 0;
    }





}