.about1-bigger-container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*justify-content: space-around;*/
    align-items: center;
    align-content: center;
    width: 90vw;
    height: 100vh;
    scroll-snap-align: start;
    font-family: 'Exo 2', sans-serif;
    color: #cbcbc1;
}

.a1-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: 85vh;
}

.about1-h1 {
    margin-bottom: 2vh;
    margin-top: 1.5vh;
    font-size: 2.5rem;
    color: black;
}

.about1-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

.a1-img {
    width: 28vw;
    height: 28vh;
    flex: 1;
    margin: 1rem;
    transition: 0.3s;
}

.about1-image-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.about1-desc-container {
    width: 40vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;

    border: 1px solid orange;
    border-radius: 20px;
    background-color: rgba(203,203,193, 1);
    color: black;
}

.about1-loading-container {
    text-align: center;
}

.about1-tip {
    font-family: 'Montserrat', sans-serif;
}

.loading-text {
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    opacity: 0;
    animation: jump 1s infinite alternate;
    font-weight: bolder;
}

.loading-text:nth-child(1) {
    animation-delay: 0.2s;
}

.loading-text:nth-child(2) {
    animation-delay: 0.4s;
}

.loading-text:nth-child(3) {
    animation-delay: 0.6s;
}

.loading-text:nth-child(4) {
    animation-delay: 0.8s;
}

.loading-text:nth-child(5) {
    animation-delay: 1.0s;
}

.loading-text:nth-child(6) {
    animation-delay: 1.2s;
}

.loading-text:nth-child(7) {
    animation-delay: 1.4s;
}

.loading-text:nth-child(8) {
    animation-delay: 1.6s;
}

.loading-text:nth-child(9) {
    animation-delay: 1.8s;
}

.loading-text:nth-child(10) {
    animation-delay: 2.0s;
}


@keyframes jump {
    to {
        transform: translateY(-5px);
        opacity: 1;
    }
}

@media only screen and (max-width: 768px) and (max-height: 1000px) {
    .a1-container {
        flex-direction: column;
        font-size: 0.8rem;
    }

    .about1-desc-container {
        width: 90vw;
    }

    .about1-h1 {
        margin-bottom: 2vh;
        font-size: 1.7rem;
    }

    .about1-text {
        font-size: 0.7rem;
    }

    .about1-tip {
        font-size: 0.7rem;
    }

    .about1-image-container {
        max-width: 60vw;
        width: 60vw;
        align-items: center;
        margin-top: 5vh;
    }

    .a1-img {
        width: 220px;
        height: 220px;
    }

    .about1-loading-container {
        font-size: 0.85rem;
    }
}

@media only screen and (max-width: 420px) {

    .about1-bigger-container {
        height: 75vh;
    }

    .a1-container {
        font-size: 0.6rem;
        justify-content: center;
    }

    .about1-desc-container {
        width: 90vw;
        margin-top: 0;
    }

    .about1-h1 {
        margin-bottom: 2vh;
        margin-top: 0;
        font-size: 1.2rem;
    }

    .about1-text {
        font-size: 0.6rem;
    }

    .about1-image-container {
        max-width: 70vw;
        width: 65vw;
        align-items: center;
        margin-top: 1vh;
        margin-bottom: 0.1vh;
    }

    .a1-img {
        width: 350px;
        height: 350px;
    }

    .about1-loading-container {
        display: none;
    }

    .about1-tip {
        display: none;
    }

}