.about4-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: 100vh;
    scroll-snap-align: start;
    /*transform: translateY(10vh);*/
}

.about4-partner-main {
    margin-top: 0;
}

.a4-img {
    max-width: 28vw;
    max-height: 28vh;
    flex: 1;
    border-radius: 20px;
    border: 1px solid orange;
    margin: 1rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 3);
    /*transition: 0.3s;*/
    opacity: 0;
    transform: translateY(20px);
}

.a4-img.appear {
    animation: fadeIn 1.5s, slideUp 1.5s;
    opacity: 1;
    transform: translateY(0);
}

.about4-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
}

.about4-image-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem 0.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.partner-img {
    max-width: 15vw;
    width: 15vw;
    height: 15vh;
    border-radius: 10px;
    border: 1px solid orange;
    margin: 1rem;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    /*transition: 0.3s;*/
    opacity: 0;
    transform: translateY(20px);
}

.patron-images {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    gap: 1rem 4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 3vh;
}

.patron-img {
    max-width: 12vw;
    width: 12vw;
    height: 12vh;
    border-radius: 10px;
    border: 1px solid orange;
    margin: 1rem;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    /*transition: 0.3s;*/
    opacity: 0;
    transform: translateY(20px);
}

.partner-img.appear {
    animation: fadeIn 2.5s, slideUp 2.5s;
    opacity: 1;
    transform: translateY(0);
}

.patron-img.appear {
    animation: fadeIn 2.5s, slideUp 2.5s;
    opacity: 1;
    transform: translateY(0);
}

.about4-partner {
    margin: 0;
    font-size: 4vh;
    font-family: 'Exo 2', sans-serif;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
}

@media only screen and (max-width: 768px) {

    .about4-container {
        height: 120vh;
    }

    .a4-img{
        max-width: 50vw;
        max-height: 50vh;
    }

    .partner-img
    {
        max-width: 25vw;
        width: 25vw;
        max-height: 8vh;
    }

    .partner-images
    {
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem 0.2rem;
    }

    .patron-img
    {
        max-width: 17vw;
        width: 17vw;
        max-height: 6vh;
    }

    .patron-images
    {
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem 0.2rem;
    }

}

@media only screen and (max-width: 420px) {

    .about4-container {
        height: 120vh;
        margin-bottom: 20vh;
    }

    .about4-image-container {
        width: 45vw;
    }

    .about4-partner-main {
        margin: 0;
    }

    .about4-partner {
        margin: 0;
        font-size: 3.2vh;
    }

    .a4-img{
        max-width: 50vw;
        max-height: 50vh;
    }

    .partner-img
    {
        max-width: 30vw;
        max-height: 30vh;
        width: 30vw;
        height: 8vh;
    }

    .partner-images
    {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.0rem 0.0rem;
    }

    .patron-img
    {
        max-width: 30vw;
        max-height: 30vh;
        width: 30vw;
        height: 8vh;
    }

    .patron-images
    {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.0rem 0.0rem;
    }

}