.about4-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: 100vh;
    scroll-snap-align: start;
    /*transform: translateY(10vh);*/
}

.about4-partner-main {
    margin-top: 0;
}

.a4-img {
    max-width: 28vw;
    max-height: 28vh;
    flex: 1;
    border-radius: 20px;
    border: 1px solid orange;
    margin: 1rem;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 3);
    /*transition: 0.3s;*/
    opacity: 0;
}

.a4-img.appear {
    transition: 1.5s;
    opacity: 1;
}

.about4-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Exo 2', sans-serif;
}

.about4-image-container {
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partner-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem 4rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    margin-top: 3vh;
    margin-bottom: 5vh;

}

.partner-img {
    max-width: 15vw;
    width: 15vw;
    height: 15vh;
    border-radius: 10px;
    border: 1px solid orange;
    margin: 1rem;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
    /*transition: 0.3s;*/
    opacity: 0;
}

.partner-img.appear {
    transition: 2.5s;
    opacity: 1;
}

.about4-partner {
    margin: 0;
}

@media only screen and (max-width: 768px) {

    .a4-img{
        max-width: 50vw;
        max-height: 50vh;
    }

    .partner-img
    {
        max-width: 25vw;
        width: 25vw;
        max-height: 8vh;
    }

    .partner-images
    {
        margin-top: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem 0.2rem;
    }

}

@media only screen and (max-width: 420px) {

    .about4-container {
        height: 100vh;
    }

    .about4-image-container {
        width: 45vw;
    }

    .about4-partner-main {
        margin: 0;
    }

    .about4-partner {
        margin: 0;
    }

    .a4-img{
        max-width: 50vw;
        max-height: 50vh;
    }

    .partner-img
    {
        max-width: 30vw;
        max-height: 30vh;
        width: 35vw;
        height: 8vh;
    }

    .partner-images
    {
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.0rem 0.0rem;
    }

}