.about3-container {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 90vw;
    height: 100vh;
    scroll-snap-align: start;
    /*transform: translateY(10vh);*/
}

.a3-img {
    max-width: 70vw;
    max-height: 70vh;
    flex: 1;
    transition: 0.3s;
    margin: 1rem;
}

.about3-left {
    text-align: right;
    align: center;
    font-family: 'Exo 2', sans-serif;
}

.about3-right {
    text-align: left;
    align: center;
    font-family: 'Exo 2', sans-serif;
}

.about3-desc-container-left {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.about3-text {
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
}

.about3-space {
    height: 25vh;
}

.about3-desc-container-right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.about3-image-container {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .a3-img {
        width: 210px;
        height: 210px;
        max-width: 30vw;
        max-height: 30vh;
        flex: 1;
        transition: 0.3s;
        margin: 1rem;
    }

    .about3-space {
        height: 15vh;
    }

    .about3-text {
        font-size: 0.65rem;
    }

    .about3-desc-container-left {
        font-size: 0.8em;
        width: 35vw;
    }

    .about3-desc-container-right {
        font-size: 0.8em;
        width: 35vw;
    }

    .about3-image-container {
        width: 20vw;
    }
}

@media only screen and (max-width: 420px) {

    .about3-container {
        overflow-x: hidden;
        height: 75vh;
        flex-direction: row;
        padding: 0.5vh;

        border: 1px solid orange;
        border-radius: 20px;
        background-color: rgba(203,203,193, 1);
        color: black;
    }

    .about3-image-container {
        display: none;
        /*width: 10vw;*/
        /*z-index: 910;*/
    }

    .about3-left {
        font-size: 1.2rem;
        z-index: 1010;
        text-align: center;
        margin: 0.5vh;
    }

    .about3-right {
        font-size: 1.2rem;
        z-index: 1010;
        text-align: center;
        margin: 0.5vh;
    }

    .a3-img {
        width: 220px;
        height: 220px;
        max-width: 30vw;
        max-height: 30vh;
        margin: 1rem;
        display: none;
    }

    .about3-space {
        height: 0;
    }

    .about3-text {
        font-size: 0.6rem;
        /*margin-bottom: 4vh;*/
        z-index: 1010;
    }

    .about3-desc-container-left {
        font-size: 0.8em;
        width: 90vw;
        flex-direction: column;
        text-align: center;
        margin: 0;
    }

    .about3-desc-container-right {
        font-size: 0.8em;
        width: 90vw;
        flex-direction: column;
        text-align: center;
    }
}